<div class="container">
  <div class="colum1">

    <div class="onlyNumbers">
      <input type="checkbox" name="onlyNumbers" id="onlyNumbers">
      <label for="onlyNumbers">Nur Zahlen.</label>
    </div>

    <div class="onlyCharacters">
      <input type="checkbox" name="onlyCharacters" id="onlyCharacters">
      <label for="onlyCharacters">Nur Buchstaben.</label>
    </div>

    <div class="numbersAndCharacters">
      <input type="checkbox" name="numbersAndCharacters" id="numbersAndCharacters">
      <label for="numbersAndCharacters">Zahlen und Buchstaben.</label>
    </div>
  </div>

  <div class="colum2">
    <div class="onlyBigCharacters">
      <input type="checkbox" name="onlyBigCharacters" id="onlyBigCharacters">
      <label for="onlyBigCharacters">Nur Großbuchstaben.</label>
    </div>

    <div class="onlySmallCharacters">
      <input class="test" type="checkbox" name="onlySmallCharacters" id="onlySmallCharacters">
      <label for="numbersAndCharacters">Nur Kleinbuchstaben.</label>
    </div>

    <div class="bigAndSmallCharacters">
      <input type="checkbox" name="bigAndSmallCharacters" id="bigAndSmallCharacters">
      <label for="numbersAndCharacters">Groß und Kleinbuchstaben.</label>
    </div>
  </div>

</div>
