<div class="container">
  <div class="colum1">

    <div class="onlyNumbers">
      <input type="radio" name="1" id="onlyNumbers">
      <label for="onlyNumbers">Nur Zahlen.</label>
    </div>

    <div class="onlyCharacters">
      <input type="radio" name="1" id="onlyCharacters">
      <label for="onlyCharacters">Nur Buchstaben.</label>
    </div>

    <div class="numbersAndCharacters">
      <input type="radio" name="1" id="numbersAndCharacters">
      <label for="numbersAndCharacters">Zahlen und Buchstaben.</label>
    </div>
  </div>

  <div class="colum2">
    <div class="onlyBigCharacters">
      <input type="radio" name="2" id="onlyBigCharacters">
      <label for="onlyBigCharacters">Nur Großbuchstaben.</label>
    </div>

    <div class="onlySmallCharacters">
      <input type="radio" name="2" id="onlySmallCharacters">
      <label for="numbersAndCharacters">Nur Kleinbuchstaben.</label>
    </div>

    <div class="bigAndSmallCharacters">
      <input type="radio" name="2" id="bigAndSmallCharacters">
      <label for="numbersAndCharacters">Groß und Kleinbuchstaben.</label>
    </div>
  </div>

</div>
