.navbar-menu {
  box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.59);
  min-height: 3.1rem;
  background-color: #181818;
  margin-bottom: 4rem;
}

.logo {
  margin: 0.2rem 0 0.2rem 1rem;

  max-width: 6%;
}
