.container {
  text-align: center;
}

.container-info {
  margin-bottom: 4rem;
}

.container p {
  margin-bottom: 0.5rem;
}

.blue-text {
  font-weight: bold;
  color: #267ff4;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}


.container-generator {
  display: flex;
  flex-flow: column;
  align-items: center;
}


.container-generator button {
  background-color: #267ff4;
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem 5rem;
  margin-top: 2rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.container-generator p {
  font-size: 0.9rem;
  color: gray;
}

.container-generator h3 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.limited {
  font-size: 0.9rem;
  color: red;
  margin-left: 3rem;
}


.guessing {
  color: #267ff4;
}

.configurator {
  margin-top: 1rem;
}

.configurator input {
  margin-left: 1rem;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.configurator select {
  /*width: 5rem;*/
  font-size: 1rem;
}
