<div class="container">
  <div class="container-info">
    <h2>Generieren Sie hier Ihre </h2>
    <h2 class="blue-text">Gutscheincodes.</h2>
    <p>Die codes bestehen 5 Ziffern, sie werden aus Großbuchstaben und Zahlen generiert.</p>
    <p>Jeder Code kann nur einmalig generiert werden.</p>
  </div>


  <div class="container-generator">
    <p>Wählen Sie hier die Anzahl der Codes die Sie generieren möchten.</p>
    <app-counter (onNewNumber)="getNumber($event)"></app-counter>
    <button (click)="generateCode(numberOfCodes,5,true,true)">Generieren</button>
  </div>
</div>
