<div class="container">
  <div class="container-info">
    <h2>Generieren Sie hier Ihre </h2>
    <h2 class="blue-text">Gutscheincodes.</h2>
    <p>Die codes bestehen 5 Ziffern, sie werden aus Großbuchstaben und Zahlen generiert.</p>
    <p>Jeder Code kann nur einmalig generiert werden.</p>
  </div>


  <div class="container-generator">
    <p>Wählen Sie hier die Anzahl der Codes die Sie generieren möchten.</p>
    <app-counter [disableButton]="disableButton" [number]="this.numberOfCodes"
                 (onNewNumber)="getNumber($event)"></app-counter>
    <span class="limited" *ngIf="disableButton">Limit erreicht</span>
    <h3>Konfigurieren Sie Ihren Code</h3>
    <p>Wählen Sie hier die Länge des Codes.</p>
    <app-counter [number]="lengthCode" (onNewNumber)="getLength($event)"></app-counter>
    <app-configurator></app-configurator>
    <h4>Die Konfigurierten Codes , könnten mit einer Wahrscheinlichkeit von <span
      class="guessing"> {{guessedProbability}}%</span>
      erraten werden</h4>
    <button (click)="generateCode(numberOfCodes)">Generieren</button>
  </div>
  <div class="configurator">
    <select name="select" [(ngModel)]="selectedOption" (change)="selectOption()">
      <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
    <input type="number" [(ngModel)]="numberOption" (change)="changeNumber()">
  </div>
</div>
